<div class="content_bar"></div>
<div class="hero content_intro">
  <div class="wrapper wrapper__match-content">
    <h2 class="hero_heading">A place to play and edit Capital Framework components</h2>

	<p class="hero_p sans">Editing and testing Capital Framework shouldn't be complicated. Install this sandbox to make your dev life easier.</p>

    <p class="hero_p sans">Not sure what Capital Framework is? <a href="https://cfpb.github.io/capital-framework/">Go check it out!</a> Don't worry, we’ll wait right here.</p>
  </div> <!-- /.wrapper -->
</div> <!-- /.hero -->
