<p>The cf-typography component includes multiple patterns for headings, links, lists, and other advanced typographic treatments.</p>
<p>The <a href="../core"><code>cf-core</code></a> component is a dependency of this component
and has more basic typography patterns.</p>
<h2>Contents</h2>
<ul>
<li><a href="#variables">Variables</a></li>
<li><a href="#pull-quote">Pull quote</a></li>
<li><a href="#micro-copy">Micro copy</a></li>
<li><a href="#short-description">Short description</a></li>
<li><a href="#date">Date</a></li>
<li><a href="#headers">Headers</a>
<ul>
<li><a href="#category-slug">Category slug</a></li>
<li><a href="#header-slug">Header slug</a></li>
<li><a href="#padded-slug">Padded header</a></li>
<li><a href="#fancy-slug">Fancy slug</a></li>
<li><a href="#meta-header">Meta header</a></li>
</ul>
</li>
<li><a href="#link-patterns">Link patterns</a>
<ul>
<li><a href="#links-with-icons">Links with icons</a></li>
<li><a href="#styled-link">Styled link</a></li>
<li><a href="#jump-link">Jump link</a></li>
<li><a href="#block-link">Block link</a></li>
</ul>
</li>
<li><a href="#lists">Lists</a>
<ul>
<li><a href="#unstyled-list">Unstyled list</a></li>
<li><a href="#spaced-list">Spaced list</a></li>
<li><a href="#spaced-list-item">Spaced list item</a></li>
<li><a href="#horizontal-list">Horizontal list</a></li>
<li><a href="#link-list">Link list</a></li>
<li><a href="#icon-list">Icon list</a></li>
<li><a href="#link-list-with-icons">Link list with icons</a></li>
<li><a href="#custom-bullet-mixin">Custom bullet mixin</a></li>
</ul>
</li>
</ul>
<blockquote>
<p>NOTE: If you use <code>cf-typography.less</code> directly,
be sure to run the file through
<a href="https://github.com/postcss/autoprefixer">Autoprefixer</a>,
or your compiled Capital Framework CSS will
not work perfectly in older browsers.</p>
</blockquote>
<h2>Variables</h2>
<p>Theme variables for setting the color and sizes.
Overwrite them in your own project by duplicating the variable <code>@key: value</code>.</p>
<h3>Color variables</h3>
<p>Default color variables are from 18F's
<a href="https://github.com/18F/web-design-standards/blob/18f-pages-staging/src/stylesheets/core/_variables.scss">U.S. Web Design Standards</a>.</p>
<pre><code>// Running text elements

// .a-micro-copy
@micro-copy:                #112e51; // $color-primary-darkest

// .a-date
@date:                      #112e51; // $color-primary-darkest

// .m-pull-quote
@pull-quote_body:           #494440; // $color-gray-warm-dark
@pull-quote_citation:       #205493; // $color-cool-blue

// Headings

// .a-heading__icon
@heading__icon:             #112e51; // $color-primary-darkest
@heading__icon__hover:      #205493; // $color-primary-darker

// .a-heading__padded
@heading__padded:           #046b99; // $color-primary-alt-darkest
@heading__padded_bg:        #dce4ef; // color-gray-cool-light
@heading__padded_border:    #046b99; // $color-primary-alt-darkest

// Headers

// .m-slug-header
@slug-header_border__thin:  #323a45; // $color-gray-dark
@slug-header_border__thick: #02bfe7; // $color-primary-alt

// .m-meta-header
@meta-header_border:        #323a45; // $color-gray-dark

// Links

// .a-link__jump
@jump-link_bg:              #f1f1f1; // $color-gray-lightest
@jump-link_border:          #323a45; // $color-gray-dark
</code></pre>
<h2>Running Text</h2>
<h3>Micro copy</h3>
<p>The <code>.a-micro-copy</code> class is good for highlighting small pieces of text, typically
legal copy.</p>
<p class="a-micro-copy">
    Lorem ipsum dolor sit amet
</p>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>p</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-micro-copy<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    Lorem ipsum dolor sit amet
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>p</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h3>Date</h3>
<span class="a-date">
    Nov 4, 2013
</span>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-date<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    Nov 4, 2013
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h3>Pull quote</h3>
<p>Use a pull quote to highlight excerpts from the current work.
This is not to be confused with <code>blockquote</code> which quotes from an external work.
Since a pull quote is an excerpt and repeats content from the article
you should use the <code>aside</code> element.</p>
<h4>Default pull quote</h4>
<aside class="m-pull-quote">
    <p class="m-pull-quote_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    </p>
    <footer>
        <cite class="m-pull-quote_citation">
            - Author Name
        </cite>
    </footer>
</aside>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>aside</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-pull-quote<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>p</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-pull-quote_body<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>p</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>footer</span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>cite</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-pull-quote_citation<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
            - Author Name
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>cite</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>footer</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>aside</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h4>Large pull quote</h4>
<aside class="m-pull-quote m-pull-quote__large">
    <div class="m-pull-quote_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    </div>
    <footer>
        <cite class="m-pull-quote_citation">
            - Author Name
        </cite>
    </footer>
</aside>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>aside</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-pull-quote m-pull-quote__large<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>div</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-pull-quote_body<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Cum corrupti tempora nam nihil qui mollitia consectetur
        corporis nemo culpa dolorum!
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>div</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>footer</span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>cite</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-pull-quote_citation<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
            - Author Name
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>cite</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>footer</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>aside</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h2>Headings</h2>
<h3>Padded heading</h3>
<h2 class="a-heading a-heading__padded">
    Heading
</h2>
<h3>Heading with icon</h3>
<p>The heading with icon is typically used for listing categories in a meta header.
Since categories can be repetitive, we suggest placing a label with <code>.u-visually-hidden</code>
prior to the headings to add more context for screen readers (see Meta Header below).</p>
<a href="#" class="a-heading a-heading__icon">
    <span class="cf-icon cf-icon-dialogue"></span>
    Consumer finance
</a>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-heading a-heading__icon<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>cf-icon cf-icon-dialogue<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
    Consumer finance
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h2>Headers</h2>
<h3>Slug header</h3>
<header class="m-slug-header">
    <h2 class="a-heading">
        Blog summary
    </h2>
</header>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>header</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-slug-header<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>h2</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-heading<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        Blog summary
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>h2</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>header</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h3>Meta header</h3>
<p>Note that the example shows <code>.m-meta-header_left</code> using the <code>.a-heading__icon</code> pattern
and <code>.meta-header_right</code> using the <code>.a-date</code> pattern but you could use other patterns in place of them.
Or you can even swap them so that date is
attached to <code>.meta-header_left</code> and <code>.category-slug</code> is attached to <code>.meta-header_right</code>.</p>
<h4>Default meta header</h4>
<header class="m-meta-header">
    <div class="m-meta-header_right">
        <span class="a-date">
            Nov 4, 2013
        </span>
    </div>
    <div class="m-meta-header_left">
        <span class="u-visually-hidden">Categories: </span>
        <a href="#" class="a-heading a-heading__icon">
            <span class="cf-icon cf-icon-credit-card"></span>
            Consumer finance
        </a>
        |
        <a href="#" class="a-heading a-heading__icon">
            <span class="cf-icon cf-icon-credit-card"></span>
            Consumer finance
        </a>
    </div>
</header>
<h2>Link patterns</h2>
<h3>Links with icons</h3>
<ul>
<li>Styles to enable adding an icon to a link and preventing the link's underline from extending under the icon.</li>
<li>For the underlined icon prevention to work, you must wrap the link text with a <code>span.icon-link_text</code>. There can be no whitespace between the text and the opening and closing span tags.</li>
</ul>
<h4>Default pattern</h4>
<ul>
<li>The modifier names match the cf-icon names of commonly-used icons.</li>
<li>Icons appear to the right of a link, by default.</li>
</ul>
<p>
    For more information, email
    <a class="a-link a-link__icon a-link__mail" href="#">
        <span class="a-link_text">john.smith@cfpb.gov</span>
    </a>.
    Alternatively, you can
    <a class="a-link a-link__icon a-link__download" href="#">
        <span class="a-link_text">download the info sheet</span>
    </a>.
    Oh, you might also want to visit this
    <a class="a-link a-link__icon a-link__external-link" href="#">
        <span class="a-link_text">other organization's website</span>
    </a> for further details.
</p>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>p</span><span class="token punctuation" >&gt;</span></span>
    For more information, email
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link a-link__icon a-link__mail<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>john.smith@cfpb.gov<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>.
    Alternatively, you can
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link a-link__icon a-link__download<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>download the info sheet<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>.
    Oh, you might also want to visit this
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link a-link__icon a-link__external-link<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>other organization's website<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span> for further details.
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>p</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h4>Links with icons on the left</h4>
<ul>
<li>Simply add the <code>.icon-link__before</code> modifier to place the icon before the link text.</li>
<li>You can omit the <code>span.icon-link_text</code> wrapper if you do not need an underline on a particular link.</li>
</ul>
<a class="a-link a-link__icon a-link__mail a-link__before" href="#">
    <span class="a-link_text">john.smith@cfpb.gov</span>
</a><br>
<a class="a-link a-link__icon a-link__phone a-link__before" href="#">
    <span class="a-link_text">(123) 456-7890</span>
</a>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link a-link__icon a-link__mail a-link__before<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>john.smith@cfpb.gov<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>br</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link a-link__icon a-link__phone a-link__before<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>(123) 456-7890<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h4>Non-wrapping icon links</h4>
<ul>
<li>Warning: Icons added to inline links can sometimes break onto the next line. If you want to prevent this, you can add the <code>__no-wrap</code> modifier to <code>.icon-link</code>.</li>
</ul>
<p>
    For more information, email
    <a class="a-link a-link__icon a-link__mail a-link__no-wrap" href="#">
        <span class="a-link_text">john.smith@cfpb.gov</span>
    </a>.
</p>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>p</span><span class="token punctuation" >&gt;</span></span>
    For more information, email
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link a-link__icon a-link__mail a-link__no-wrap<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>john.smith@cfpb.gov<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>.
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>p</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h3>Jump link</h3>
<p><a class="a-link
          a-link__jump
          a-link__right" href="#">
<span class="a-link_text">Default jump link</span>
</a></p>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link
          a-link__jump
          a-link__right<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>Default jump link<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h4>Jump link with large link modifier</h4>
<p>The large jump link has an 18px font-size, compared to the default of 16px.</p>
<p><a class="a-link
          a-link__jump
          a-link__large
          a-link__right" href="#">
<span class="a-link_text">Large jump link</span>
</a></p>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link
          a-link__jump
          a-link__large
          a-link__right<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>Large jump link<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h4>Jump link with before link modifier</h4>
<p>Jump links can also have icons before the text, like icon links.</p>
<p><a class="a-link
          a-link__jump
          a-link__before
          a-link__left" href="#">
<span class="a-link_text">Jump link with icon on left</span>
</a></p>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link
          a-link__jump
          a-link__before
          a-link__left<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>Jump link with icon on left<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h4>Jump link with bg link modifier (only visible on small screens)</h4>
<p><a class="a-link
          a-link__jump
          a-link__bg
          a-link__right" href="#">
<span class="a-link_text">Jump link with grey background and
solid borders on small screens</span>
</a></p>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link
          a-link__jump
          a-link__bg
          a-link__right<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>span</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link_text<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>Jump link with grey background and
        solid borders on small screens<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>span</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h3>Block link</h3>
<p>The block link class converts a standard inline link
to a block-level element with padding, background, and borders.</p>
<p>It is primarily used within a max-width <code>@bp-xs-max</code> media query
(see <code>.link__jump</code> and <code>.list__links</code>).</p>
<a class="a-link__block" href="#">
    Default block link
</a>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>a-link__block<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    Default block link
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h2>Lists</h2>
<h3>Unstyled list modifier</h3>
<p>Unstyled list removes bullets and other styling from a list.</p>
<ul class="m-list m-list__unstyled">
    <li class="m-list_item">List item 1</li>
    <li class="m-list_item">List item 2</li>
    <li class="m-list_item">List item 3</li>
</ul>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>ul</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list m-list__unstyled<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 1<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 2<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 3<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>ul</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h3>Spaced list modifier</h3>
<p>Spaced list adds extra padding to every element in a list.</p>
<h4>Default spaced list</h4>
<ul class="m-list m-list__spaced">
    <li class="m-list_item">List item 1</li>
    <li class="m-list_item">List item 2</li>
    <li class="m-list_item">List item 3</li>
</ul>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>ul</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list m-list__spaced<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 1<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 2<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 3<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>ul</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h4>Nested list example</h4>
<ul class="m-list m-list__spaced">
    <li class="m-list_item">List item 1</li>
    <li class="m-list_item">
        List item 2
        <ul class="m-list m-list__spaced">
            <li class="m-list_item">List item 2a</li>
            <li class="m-list_item">List item 2b</li>
            <li class="m-list_item">List item 2c</li>
        </ul>
    </li>
    <li class="m-list_item">List item 3</li>
</ul>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>ul</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list m-list__spaced<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 1<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        List item 2
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>ul</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list m-list__spaced<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
            <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 2a<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
            <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 2b<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
            <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 2c<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>ul</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 3<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>ul</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h3>Horizontal list modifier</h3>
<p>A modifier for the list to make it show items horizontally.</p>
<ul class="m-list m-list__horizontal">
    <li class="m-list_item">List item 1</li>
    <li class="m-list_item">List item 2</li>
    <li class="m-list_item">List item 3</li>
</ul>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>ul</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list m-list__horizontal<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 1<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 2<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 3<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>ul</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
<h3>Link list modifier</h3>
<p>The link list modifier is intended to be used for lists where each item is a link.
It converts to a finger-friendly link with a large tap area on smaller screens.</p>
<ul class="m-list m-list__links">
    <li class="m-list_item">
        <a class="m-list_link" href="#">List item 1</a>
    </li>
    <li class="m-list_item">
        <a class="m-list_link" href="#">List item 2</a>
    </li>
    <li class="m-list_item">
        <a class="m-list_link" href="#">List item 3</a>
    </li>
</ul>
<pre><code><span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>ul</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list m-list__links<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_link<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 1<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_link<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 2<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>li</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_item<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>
        <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;</span>a</span> <span class="token attr-name" >class</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>m-list_link<span class="token punctuation" >"</span></span> <span class="token attr-name" >href</span><span class="token attr-value" ><span class="token punctuation" >=</span><span class="token punctuation" >"</span>#<span class="token punctuation" >"</span></span><span class="token punctuation" >&gt;</span></span>List item 3<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>a</span><span class="token punctuation" >&gt;</span></span>
    <span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>li</span><span class="token punctuation" >&gt;</span></span>
<span class="token tag" ><span class="token tag" ><span class="token punctuation" >&lt;/</span>ul</span><span class="token punctuation" >&gt;</span></span>
</code></pre>
